body {
  background-color: #FFF;
  margin: 0 auto;
  font-family:'Open Sans', sans-serif;
}

.header {
  background-color: white;
  border-bottom: 1px solid white;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 90px;
  z-index: 10;
}

a {
  text-decoration: none;
  color: black;
}

#logo {
  position: relative;
  top: 10px;
  left: 20px;
  width: 250px;
}

.header ul, .footer ul {
  margin: 30px auto;
  text-align: right;
}

.header ul {
  position: relative;
  top: -60px;
}

.info ul {
    top: 1px;
}

.header li, .footer li {
  color: black;
  font-size: 20px;
  display: inline-block;
  margin: 0px 100px;
  padding: 0px 5px 10px 5px;
}

.header li:hover {
  color: #6393f7;
}

.shift {
  position: relative;
  top: 90px;
}

