
img {
  width: 100%;
}

.part1 {
  margin: 10px;
}

.about {
  width: 740px;
  height: 450px;
  text-align: center;
  display: inline-block;
  background-color: #fafafa;
  position: relative;
  
}

body {
    background-color: #fafafa;
}

.shift {
    position: relative;
    top: 120px;
    left: 10px;
}

 ul {
     list-style: none;
 }

.info li {
    width: 500px;
    padding: 30px 10px 30px 10px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 14px;
}

.border {
    border: 1px solid black;
}

#purchase {
    position: relative;
    padding: 30px 10px 30px 10px;
    height: 100px; 
    width: 60px;
}

strong {
    font-size: 18px;
}

.left {
display: inline-block;
position: relative;
width: 740px;
height: 450px;
background-color: #fafafa;

}

.right {
position: relative;
width: 740px;
height: 450px;
float: right;
}


